@charset 'UTF-8';


@media screen and (max-width: 769px){

header{

    background-color: #04a8ba;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    height: 80px;
}


header > .logo > img{

    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}     



main > .menu > nav{

    display: flex;
    flex-flow: row wrap;
    margin-top: -90px;




}


 main > footer{
    margin-top: 1200px;
}

}


@media (min-width: 769px) and (max-width: 1024px) {

    header{
    
    background-color: #04a8ba;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    height: 90px;
}
    
   header > .logo > img{

    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
       
   }   

   main > .menu > nav{

    display: flex;
    flex-flow: row wrap;
    padding-top: 2px;

    width: 700px;
    margin: auto
    

}


    main > div.menu> nav > a{
    
    padding: 10px;
    box-shadow: 1px 1px 3px #04a8ba;
    margin: 10px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    flex: 1 0 200px;
    z-index: 0;
    overflow: hidden;
  

}

  main > div.menu> nav > a::after{

    content: '';
    background-color: #01cfe6;
    height: 100%;
    width: 0px;
    border: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;

  }



    main > div.menu > nav > a:hover::after{

   width: 100%;    
    
    
}

  main > div.menu > nav > a:hover{

    color: #003036;
  }


    main > footer{
    margin-top: 1200px;
}
    
}

@media screen and (min-width:1024px) {
    
    main > .menu > nav{

    display: flex;
    flex-flow: row wrap;
   
    
}

    main > footer{
    margin-top: 1200px;
}

}