@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


@media screen and (max-width:768px)  {
    

main > nav.menu-lateral{

    width: 40px;
    height: 100%;
    background-color: #04a8ba;
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0 0 #038694;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    padding-top: 95px;
    z-index: 3;
    
}

 main >nav.menu-lateral.expandir{

    width: 110px;
}

.btn-menu{
    width: 100%;
    padding-left: 10px;
}

.btn-menu > i{
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-left: -8px;
    
}

ul{
    height: 100%;
    list-style-type: none;
  
}

ul > li.item-menu{
    transition: 0.2s;
    
}
ul > li.item-menu:hover{
    background: #014249;

}
ul > li.item-menu > a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    margin-bottom: 20px;
    margin-left: -5px;
   
}

ul > li.item-menu > a > .link{

    margin-left: 70px;
    line-height: 35px;
    transition: .5s;
    opacity: 0;
   
}

nav.menu-lateral.expandir  .link{
    margin-left: 10px;
    opacity: 1;
}

ul > li.item-menu > a >.icone > i{

    font-size: 30px;
    margin-left: 5px;
}

}