
@charset 'UTF-8';
@media screen and (max-width:766px){

body{

    background-color:#202020;
    height: 100vh;
    
    
}

   header{
    
    background-color: #04a8ba;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    height: 60px;
}

    header > .logo > img{
    
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
        
       
   }     



main{
    background-color:#202020;
    padding-top: 100px;
    padding-bottom: 30px;
   
}

main >section{
   
    width: 80vw;
    padding: 12px;
    box-shadow: 2px 2px 5px  #0291a4a5;
    margin: auto;
    margin-top: -40px;
    
}

 main > section  > article > p{
   
    text-align: justify;
    padding-top: 2px;
    line-height: 30px;
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    


}

 body >footer{
    margin: auto;
    margin-top: 20px;
    height: 100px;
    padding: 10px;
    border-top: 2px solid rgb(0, 83, 110);
    margin-top: 200px;
    
}
footer >p{
    
    padding-top: 20px;
    font-size: 1.5em;
    color: rgb(255, 253, 253);
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
  

}
}