
@charset 'UTF-8';

@font-face {
    font-family:'ibm' ;
    src: url(../../fontes/IBMPlexSerif-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../../fontes/Roboto-VariableFont_wdth\,wght.ttf);
}

@media screen and (max-width:766px){

    
body{

    background-color:#202020;
    height: 100vh;
    
    
}

   header{
    
    background-color: #04a8ba;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    height: 60px;
}

    header > .logo > img{
    
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
        
       
   }     



main{
    background-color:#202020;
    padding-top: 100px;
    padding-bottom: 30px;
   
}

main >section{
   
    width: 85vw;
    padding: 15px;
    box-shadow: 2px 2px 5px  #0291a4a5;
    margin-left: 50px;
    margin-top: -40px;  
    
}

main > section > article > h1{

    font-family: 'ibm';
    font-size: 1.5em;
    text-align: center;
    color: #04a8ba;
    
}

main > section > article > div#img{

    background: url(../../imagens/eu.png) no-repeat center center;
    background-size: contain;
    height: 260px;
    margin-top: -20px;

}
   
   
   


 main > section  > article > p{
   
    text-align: justify;
    padding-top: 2px;
    line-height: 30px;
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    


}

main > section > article > h3{

    color: #01cfe6;
    font-family: 'ibm';
    font-size: 2.1em;
    padding-top: 20px;
}

main > section > article >  a > button > i{

    display: inline;
    font-size: 2.2em;
    padding: 5px;
    
}

main > section > article > a > button{

    margin-top: 20px;
    color: white;
    background: #202020;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: .2s;
}

main > section > article> a >button:hover{

    color: #04a8ba;
}

main > section > article >div#versiculo{

   display: block;
   margin-bottom: 15px;
   
  
   
    
}

main > section > article > div#versiculo > p{
    
    color: #01cfe6;
    font-size: 1.2em;
    font-family: 'ibm';
    text-align: justify;
    padding-top: 40px;
    width: 260px
    
}



footer{
    margin-top: 600px;
    color: white;
    border-top: 2px solid rgb(0, 83, 110);
    padding-top: 30px;
    padding-bottom: 0px;
    height: 320px;


}

.interface{
    max-width: 90%;
   
    margin: 0 auto;

    
    
}

footer .line-1 {
    font-family: 'roboto';
    text-align: center;
    color: #01cfe6;
    font-size: 1.5rem;
    
}

footer .line-2{
    padding: 20px 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    
    

}

footer .line-2 > .box-line{

    max-width: calc(100% / 3);
}
  

.line-2 > .box-line > h3{
    font-family: 'ibm';
    color: #04a8ba;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.line-2 > .box-line > .links > a{
    display: block;
    color: white;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    transition: .2s;
    position: relative;

}


/* LINK SOBRE MIM*/


.line-2 > .box-line > .links > a#sobre-mim{

    width: 95px;
    position: relative;
    transition: .2s;
    
}

.line-2 > .box-line > .links > a#sobre-mim::after{

    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #01cfe6;
    width:0px;
    height: 1px;
    transition: 0.2s ease-in-out;
    

}    

.line-2 > .box-line > .links > a#sobre-mim:hover::after{
    width: 95px;
}

.line-2 > .box-line > .links > a#sobre-mim:hover{

    color: #01cfe6;
}



/* LINK AJUDA*/    



.line-2 > .box-line > .links > a#help{

    width: 52px;
    position: relative;
    transition: .2s;
    
}

.line-2 > .box-line > .links > a#help::after{

    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #01cfe6;
    width:0px;
    height: 1px;
    transition: 0.2s ease-in-out;
    

}    

.line-2 > .box-line > .links > a#help:hover::after{
    width: 50px;
}

.line-2 > .box-line > .links > a#help:hover{

    color: #01cfe6;
}




/* LINK TERMOS*/

.line-2 > .box-line > .links > a#termos{

    width: 130px;
    position: relative;
    transition: .2s;
    
}

.line-2 > .box-line > .links > a#termos::after{

    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #01cfe6;
    width:0px;
    height: 1px;
    transition: 0.2s ease-in-out;
    

}    

.line-2 > .box-line > .links > a#termos:hover::after{
    width: 100%;
}

.line-2 > .box-line > .links > a#termos:hover{

    color: #01cfe6;
}




/* LINK POLITICA*/

.line-2 > .box-line > .links > a#politica{

    width: 198px;
    position: relative;
    transition: .2s;
    
}

.line-2 > .box-line > .links > a#politica::after{

    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #01cfe6;
    width:0px;
    height: 1px;
    transition: 0.2s ease-in-out;
    

}    

.line-2 > .box-line > .links > a#politica:hover::after{
    width: 100%;
}

.line-2 > .box-line > .links > a#politica:hover{

    color: #01cfe6;
}

/* LINK EMAIL*/

.line-2 > .box-line > .links > a#email{

    width: 220px;
    position: relative;
    transition: .2s;
    
}

.line-2 > .box-line > .links > a#email::after{

    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #01cfe6;
    width:0px;
    height: 1px;
    transition: 0.2s ease-in-out;
    

}    

.line-2 > .box-line > .links > a#email:hover::after{
    width: 100%;
}

.line-2 > .box-line > .links > a#email:hover{

    color: #01cfe6;
}


/*LINK TELEFONE*/

.line-2 > .box-line > .links > a#telefone{

    width: 142px;
    position: relative;
    transition: .2s;
    
}

.line-2 > .box-line > .links > a#telefone::after{

    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #01cfe6;
    width:0px;
    height: 1px;
    transition: 0.2s ease-in-out;
    

}    

.line-2 > .box-line > .links > a#telefone:hover::after{
    width: 100%;
}

.line-2 > .box-line > .links > a#telefone:hover{

    color: #01cfe6;
}

.box-line > .btn-redes{

    margin-left: -15px;
}
.box-line > .btn-redes > a > button > i{

    display:inline;
    font-size: 1.7em;
    padding: 5px;
    

    
}

.box-line > .btn-redes > a > button{

    margin: 0px 10px;
    display: inline;
    color: white;
    background: #202020;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: .2s;
    
}

.box-line > .btn-redes > a > button:hover{

    color: #01cfe6;
}

.line-3{
    margin-left: 40px;
}
.line-3 > p{
    font-family: 'roboto';
    text-align: center;
    font-size: 0.9em;
}

 }