@charset 'UTF-8';

@media screen and (min-width:1024px){

body{

    background-color: #202020;
    
}

   header{
    border-bottom: 1px solid white;
    background: linear-gradient(to right, #01cfe6, #202020);
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
}



header h1{
    color: white;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}
main{
    background-color:#202020;
    padding-top: 100px;
    padding-bottom: 30px;
   
}

main >section{
   
    width: 80vw;
    padding: 12px;
    box-shadow: 2px 2px 5px  #0291a4a5;
    margin: auto;
    margin-top: -40px;
    
}

 main > section  > article > p{
   
    text-align: justify;
    padding-top: 2px;
    line-height: 30px;
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    


}

footer{
    margin: auto;
    margin-top: 20px;
    height: 70px;
    border-top: 2px solid rgb(0, 83, 110);
    margin-top: 200px;
    
    
}
footer >p{
    
    padding-top: 20px;
    font-size: 1.5em;
    color: white;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
  

}
}