@charset 'UTF-8';

@media screen and (min-width:1024px) {
    
    body{
    background-color:#202020;
    height: 100vh;
}

    header{
    border-bottom: 1px solid  white;
    background: linear-gradient(to right, #01cfe6, #202020);
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
}
    
      

    header > h1{

        color: white;
        text-align: center;
        font-size: 2em;
        font-weight: 300;

    }
   
    main{
    background-color:#202020;
    padding-bottom: 20px;
   
}

    main > .menu > nav{

    display: flex;
    flex-flow: row wrap;
    padding-top: 20px;
    width: 900px;
    margin: auto;

}


    main > div.menu> nav > a{
    
    padding: 10px;
    background-color: #08646e;
    margin: 10px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    
    align-items: center;
    border-radius: 5px;
    text-align: center;
    flex: 1 0 200px;
  

}

    main > div.menu > nav > a:hover{

   
    
    background-color: #04a8ba;
    color: #002540;
    transition: background-color .3s;
    
    
}


      
    
    .container{
    margin: auto;
    width: 800px;
    padding: 15px;
    height: 260px;
    margin-top: 100px;
    margin-bottom: 80px;
    padding: 15px;
   
    box-shadow: 2px 2px 5px  #0291a4a5;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

}

    
   .container > .img-produto{
    background: url(../../imagem_empreend-p.jpg) no-repeat center center;
    background-size: contain;
    display: block;
    height: 130px;
    float: left;
    width: 200px;
   
}



    .container > .descricao-produto{
    margin-left: 210px;

}

   .container > .descricao-produto > h2{
    color:white;
    font-size: 2em;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.container > .descricao-produto  > p{

    color: white;
    text-align: justify;
    width: 80%;
    margin-left: 10px;

}



.container > .valor-produto > span{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;  
    font-size: 2.2em;
    margin-right: 10px;
    margin-top: 62px; 
    color: white;
}




.container > .btn-comec > a{
    display:block;
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(12, 12, 12);
    margin-top: -40px;
    width: 200px;
    margin-left: 0px;
    
}


footer{
    margin: auto;
    margin-top: -40px;
    height: 90px;
    border-top: 2px solid rgb(0, 83, 110);
}
footer >p{
    
    padding-top: 20px;
    font-size: 1.5em;
    color: white;
    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    

}
   
}

